<?xml version="1.0"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro">  

	<!-- ============ Main drone link ============ -->
 
  <link name="base_link" />

  <xacro:macro name="drone_base_link" params="name">

    <link name="${name}">
      <inertial>
        <origin
          xyz="-0.0263 -0.00062804 0.037744"
          rpy="0 0 0" />
        <mass
          value="3.3794" />
        <inertia
          ixx="0.0032142"
          ixy="2.0003E-05"
          ixz="0.00014346"
          iyy="0.0098163"
          iyz="2.3093E-06"
          izz="0.011438" />
      </inertial>

      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://drone_description/meshes/base_link.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.75294 0.75294 0.75294 1" />
        </material>
      </visual>
      
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://drone_description/meshes/base_link.STL" />
        </geometry>
      </collision>
      </link>

  </xacro:macro>

  <xacro:drone_base_link name="drone_base_link" />

</robot>